{% extends 'base.html' %}

{% block all_professors %}

<h1> Professors </h1>

{% if request.user.is_superuser %}
    <a href="{% url 'add_user' 'PROFESSOR' %}" class="btn btn-primary my-3" role="button">Add Professor</a>
{% endif %}

<table class="table">
    <thead>
        <tr>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Username</th>
            <th scope="col">E-mail</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>

        {% for professor in professors %}

            <tr>
                <td>{{professor.first_name}}</td>
                <td>{{professor.last_name}}</td>
                <td>{{professor.username}}</td>
                <td>{{professor.email}}</td>
                <td>
                    {% if request.user.is_superuser %}
                        <a href="{% url 'edit_user' professor.id %}" class="btn btn-sm btn-primary" role="button">Edit</a>
                        <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{professor.id}}">
                            Delete
                        </button>
                    {% endif %}
                </td>
            </tr>

            <!-- Delete Modal -->
            <div class="modal fade" id="deleteModal{{professor.id}}" tabindex="-1" aria-labelledby="deleteModal{{professor.id}}Label" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModal{{professor.id}}Label">Delete Professor</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete professor <b>{{professor.first_name}} {{professor.last_name}}</b>?</p>
                        </div>
                        <div class="modal-footer">
                            <a href="{% url 'delete_user' professor.id %}" class="btn btn-danger" role="button">Delete</a>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}
        
    </tbody>
</table>

{% endblock %}