{% extends 'base.html' %}

{% block students_on_course %}

<h1>Students</h1>
<h5>Course: {{course.name}} ({{course.code}})</h5>

<a href="{% url 'students_on_course' course.id %}" class="btn btn-sm btn-light mt-3 mb-1" role="button">Students (All)</a>
<a href="{% url 'students_on_course_filter' course.id 'redovni' %}" class="btn btn-sm btn-light mt-3 mb-1" role="button">Students (Full-time)</a>
<a href="{% url 'students_on_course_filter' course.id 'izvanredni' %}" class="btn btn-sm btn-light mt-3 mb-1" role="button">Students (Part-time)</a>
<br/>
<a href="{% url 'students_on_course_filter' course.id 'izgubljen_potpis' %}" class="btn btn-sm btn-light mb-3" role="button">Students (Lost Signature)</a>
<a href="{% url 'students_on_course_filter' course.id 'upisan' %}" class="btn btn-sm btn-light mb-3" role="button">Students (Enrolled)</a>
<a href="{% url 'students_on_course_filter' course.id 'polozen' %}" class="btn btn-sm btn-light mb-3" role="button">Students (Passed)</a>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Username</th>
                <th scope="col">E-mail</th>
                <th scope="col">Status (Student)</th>
                <th scope="col">Status (Course)</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
    
            {% for record in enrollment_record %}
            
                <tr>
                    <td>{{record.student.first_name}}</td>
                    <td>{{record.student.last_name}}</td>
                    <td>{{record.student.username}}</td>
                    <td>{{record.student.email}}</td>
                    <td>{{record.student.status}}</td>
                    <td>{{record.status}}</td>
                    <td>
                        <a href="{% url 'change_course_status' record.id %}" class="btn btn-sm btn-primary" role="button">Change Course Status</a>
                    </td>
                </tr>
    
            {% endfor %}
    
        </tbody>
    </table>
</div>

{% endblock %}